html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  font-size: 100%;
  line-height: 1.4;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: rgba(180, 50, 50, 1);
  text-decoration: none;
  border-bottom: 1px solid rgba(180, 50, 50, 0.2);
  transition: color 0.15s ease-in-out;
}
a:hover {
  color: rgba(255, 50, 50, 1);
}

.me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 48px 24px;
  font-size: 0;
}

.avatar {
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 24px;

  border-radius: 100%;
  background-color: hsla(360, 10%, 80%, 1);

  overflow: hidden;
}

.avatar img {
  display: block;
  width: 160px;
  height: auto;
}

.copy {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;
  font-size: 18px;
  text-align: left;
  text-rendering: optimizeLegibility;
}

.resume-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.resume-item {
  margin-bottom: 8px;
}
.resume-item:last-child {
  margin-bottom: 0;
}

.living-in {
  margin-top: 28px;
  font-size: 14px;
  color: #888;
}

@media only screen and (min-width: 715px) {
  .me {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 48px 24px;
    font-size: 0;
  }
  .avatar {
    margin-bottom: 0;
  }
  .avatar img {
    width: 192px;
  }
  .copy {
    font-size: 18px;
    margin-left: 36px;
  }
}
