html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  font-size: 100%;
  line-height: 1.4;
}

body {
  display: flex;
  background-color: #f0f0f0;
  color: #444;
}

a {
  color: rgba(180, 50, 50, 1);
  text-decoration: none;
  border-bottom: 1px solid rgba(180, 50, 50, .2);
  transition: color .15s ease-in-out;
}
a:hover {
  color: rgba(255, 50, 50, 1);
}

.wrapper {
  display: flex;
  margin: auto;
  padding: 48px 24px;
  text-align: center;
}

.me {
  display: inline-block;
  font-size: 0;
}

.avatar {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 24px;

  border-radius: 100%;
  background-color: rgba(0, 0, 0, .1);
  overflow: hidden;
}

.avatar img {
  display: block;
  width: 192px;
  height: auto;
}

.copy {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;
  font-size: 18px;
  text-align: left;
  text-rendering: optimizeLegibility;
  white-space: normal;
}

.resume-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.resume-item {
  margin-bottom: 8px;
}
.resume-item:last-child {
  margin-bottom: 0;
}

.living-in {
  margin-top: 30px;
  font-size: 14px;
  color: #959595;
}

@media only screen and (min-width : 715px) {
  .wrapper {
    padding-top: 96px;
    padding-bottom: 96px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .me {
    white-space: nowrap;
  }
  .avatar {
    margin-bottom: 0;
  }
  .copy {
    font-size: 18px;
    margin-left: 36px;
  }
}
